<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8"/>
    <meta
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
            name="viewport"
    />
    <title>Página de Inicio</title>
    <!-- BOOTSTRAP CSS, DO NOT DELETE -->
    <link href="{% static 'Prototypes/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'Prototypes/css/custom.css' %}" rel="stylesheet" type="text/css"/>
    <script src="https://code.jquer statiy.com/jquery-3.2.1.min.js"></script>
</head>

<body>
<!-- BOOTSTRAP JS, DO NOT DELETE -->
<script
        crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
></script>
<script
        crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
></script>
<script src="{% static 'Prototypes/js/bootstrap.min.js' %}"></script>

<!--Barra de login-->
<div class="container-fluid text-center p-4">
    <div class="row p-2 mx-2 rounded shadow table-success">
        <div class="col-4 text-left">
            <h2 class="pt-2">LOGO</h2>
        </div>
        <div class="col-8 text-right align-self-center">
            <form>
                <!--Ingresar nombre de usuario y contraseña-->
                <input
                        placeholder="Nombre de usuario"
                        style="width: 15em"
                        type="text"
                />
                <input
                        placeholder="Contraseña"
                        style="width: 15em"
                        type="password"
                />
                <!--Boton de iniciar sesion-->
                <button class="btn btn-primary btn-sm" type="submit">
                    Iniciar sesión
                </button>
            </form>
        </div>
    </div>
</div>
<!--Información de la página-->
<div class="container-fluid text-left p-4">
    <div class="col-6 p-2 mx-2 rounded shadow table-success">
        Había una vez un percebe feo.
        <br/>Era tan feo que todos se murieron. <br/>Fin.
    </div>
</div>
<!--Registro de usuario-->
<div class="container-fluid text-right col-10">
    <h2>¿No tienes cuenta? ¡Regístrate!</h2>
    <form>
        <div class="form-group">
            <input name="name" placeholder="Nombre" type="text"/>
        </div>
        <div class="form-group">
            <input name="surname" placeholder="Apellido" type="text"/>
        </div>
        <div class="form-group">
            <input name="email" placeholder="Correo electrónico" type="email"/>
        </div>
        <div class="form-group">
            <input name="avatar" type="file">
        </div>
        <div class="form-group">
            <input name="password" placeholder="Contraseña" type="password"/>
        </div>
        <button class="btn btn-primary" type="submit">Registrarse</button>
    </form>
</div>
</body>
</html>
